platform:
  - x86
  - x64

image:
  - Visual Studio 2019

environment:
  VCPKG_DEFAULT_TRIPLET: x64-windows-static
  VCPKG_TARGET_TRIPLET: x64-windows-static
  CMAKE_TOOLCHAIN_FILE: C:\Tools\vcpkg\scripts\buildsystems\vcpkg.cmake
  MSVC_VERSION: 64
  CL_VERSION: x64

configuration:
  - Debug
  - Release

for:
  -
    matrix:
      only:
        - platform: x86
    environment:
      VCPKG_DEFAULT_TRIPLET: x86-windows-static
      VCPKG_TARGET_TRIPLET: x86-windows-static
      MSVC_VERSION: 32
      CL_VERSION: Win32

init:
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars%MSVC_VERSION%.bat"

install:
  - vcpkg remove --outdated --recurse
  - vcpkg install mongo-c-driver
  - vcpkg integrate install

  - cd %APPVEYOR_BUILD_FOLDER%

build_script:
  - mkdir build
  - cd build

  - cmake -DCMAKE_BUILD_TYPE=%configuration% -DCMAKE_TOOLCHAIN_FILE=%CMAKE_TOOLCHAIN_FILE% -DVCPKG_TARGET_TRIPLET=%VCPKG_TARGET_TRIPLET% -A %CL_VERSION% ..
  - cmake --build . --target ALL_BUILD --config %configuration%
  - cd %APPVEYOR_BUILD_FOLDER%

cache:
  - C:\Tools\vcpkg\installed\ -> .appveyor.yml

artifacts:
  - path: 'build\**\*.dll'
    name: module

deploy:
  provider: GitHub
  auth_token:
    secure: "6ANSF4rQ1yS9HzPb7K7lA4IjP6NqWf2XPIPnp/SuYGIe61D9Ur9fIAaGQxwWbhWw"
  artifact: module
  draft: true
  on:
    APPVEYOR_REPO_TAG: true
    CONFIGURATION: Release

